/* global styling */
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

a{
    color: #0d3982; 
    font-weight: bolder;
    text-decoration: none;

}

h1{
    font-size: 16px;
    font-weight: bolder;
}


/* home.html */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: #0d3982;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-description{
    margin-block: 0px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.subforum-divider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(13 57 130), rgb(255, 255, 255) );
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    font-size: 45px;
}


/* responsiveness for smartphones */

@media screen and (max-width: 460px){
    .container{
        margin: 10px;
        padding: 10px;
    }


    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-column{
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: whitesmoke;
    }
}


/* responsiveness for tablets */
@media screen and (min-width: 460px) and (max-width: 1024px){
    .container{
        margin: 15px;
        padding: 15px;
    }


    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
    }
}
