/* global styling */
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

a{
    color: #0d3982; 
    font-weight: bolder;
    text-decoration: none;

}

h1{
    font-size: 16px;
    font-weight: bolder;
}


/* home.html */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: #0d3982;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-description{
    margin-block: 0px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.subforum-divider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(13 57 130), rgb(255, 255, 255) );
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    font-size: 45px;
}


/* responsiveness for smartphones */

@media screen and (max-width: 460px){
    .container{
        margin: 10px;
        padding: 10px;
    }


    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-column{
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: whitesmoke;
    }
}


/* responsiveness for tablets */
@media screen and (min-width: 460px) and (max-width: 1024px){
    .container{
        margin: 15px;
        padding: 15px;
    }


    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
    }
}


/* navbar */

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: #0d3982;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
}

.nav-item a{
    color: white;
    float: right;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
}

.nav-item a:hover{
    background-color: gray;
    border-radius: 5px;
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
    color: white;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    color: #0d3982;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

@font-face{
    font-family: barrio;
    src: url("../assets/Barrio-Regular.otf");
}

.brand{
    font-size: 60px;
    display: inline-block;
    font-family: barrio;
}


/* navbar for smartphones */

@media screen and (max-width: 460px){
    header{
        margin-inline: 10px;
    }
    
    .navbar{
        display: flex;
        align-items: center;
    }
    
    .navigation{
        max-height: auto;
    }
     
    .nav-item a{
        color: white;
        display: inline;
        float: left;
        text-align: center;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .close-icon i{
        font-size: 30px;
        float: left;
        cursor: pointer;
        color: white;
    }
    
    .hide{
        display: none;
    }
    
    .bar-icon{
        font-size: 30px;
        color: #0d3982;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }
    
    @font-face{
        font-family: barrio;
        src: url("../assets/Barrio-Regular.otf");
    }
    
    .brand{
        font-size: 30px;
        display: inline-block;
        font-family: barrio;
    }
}


/* search bar */


.search-bar{
    border: solid 1px#0d3982;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #0d3982 ;
}

.search-bar select{
    padding: 10px;
}

.search-bar input{
    padding: 10px;
}

.search-bar button{
    padding: 10px;
    background-color: #0d3982;
}

.search-bar button i{
    color: white;
}

.search-bar button:hover{
    background-color: gray;
    color: white;
    box-shadow: 1px 2px 3px #0d3982;
}


/* search bar for smartphones */
@media screen and (max-width: 460px){
    .search-bar button, .search-bar input, .search-bar select{
        min-width: 300px;
        margin-top: 5px;
    }
}


/* forum information */

.forum-info{
    padding: 20px;
    background-color: gray;
    color: white;
}

.state{
    font-size: 20px;
    font-weight: bold;
}


/* footer */

footer{
    margin-top: 20px;
    padding: 20px;
    display: block;
    text-align: center;
    background-color: #0d3982;
    color: white;
}


/* ********************************** */
/* posts page */


.table-head{
    display: flex;   
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #0d3982;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* table body */
.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding:5px;
    margin: 2px;
    background-color: rgb(180, 177, 177);
    border-radius: 5px;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}


.table-row .subjects a{
    color: black;
}

.table-row .replies{
    flex: 10%;
}


.table-row .last-reply{
    flex: 15%;
}



/* pagination */
.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #0d3982;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #0d3982;
}

.pagination a:hover{
    background-color: gray;
    opacity: 0.5;
}


/* navigation */
.posts-navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.posts-navigate a{
    color: black;
}

.posts-navigate a:hover{
    color: #0d3982;
}


/* status notes */
.status-note{
    padding: 20px;
    display: block;
    margin-bottom: 15px;
    border: solid 0.5px #0d3982;
}

.status-note span{
    font-size: 20px;
    margin-block: 5px;
}


/* posts page */
.head{
    display: flex;
    background-color: #0d3982;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.post-content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: gray;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .post-content{
    font-size: 20px;
}

.body .post-content hr{
    color: black;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .post-content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px black;
    cursor: pointer;
    float: right;
}


/* comment are */

.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px ;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}

.comment-area input:hover{
    border: solid 1px black;
}

.comments-container{
    margin-top: 50px;
}