
/* header styling */
/* navbar */

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: #0d3982;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
}

.nav-item a{
    color: white;
    float: right;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
}

.nav-item a:hover{
    background-color: gray;
    border-radius: 5px;
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
    color: white;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    color: #0d3982;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
/* 
@font-face{
    font-family: barrio;
    src: url("../assets/Barrio-Regular.otf");
} */

.brand{
    font-size: 60px;
    display: inline-block;
}


/* navbar for smartphones */

@media screen and (max-width: 460px){
    header{
        margin-inline: 10px;
    }
    
    .navbar{
        display: flex;
        align-items: center;
    }
    
    .navigation{
        max-height: auto;
    }
     
    .nav-item a{
        color: white;
        display: inline;
        float: left;
        text-align: center;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .close-icon i{
        font-size: 30px;
        float: left;
        cursor: pointer;
        color: white;
    }
    
    .hide{
        display: none;
    }
    
    .bar-icon{
        font-size: 30px;
        color: #0d3982;
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }
    
    @font-face{
        font-family: barrio;
        src: url("../assets/Barrio-Regular.otf");
    }
    
    .brand{
        font-size: 30px;
        display: inline-block;
        font-family: barrio;
    }
}


/* search bar */


.search-bar{
    border: solid 1px#0d3982;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #0d3982 ;
}

.search-bar select{
    padding: 10px;
}

.search-bar input{
    padding: 10px;
}

.search-bar button{
    padding: 10px;
    background-color: #0d3982;
}

.search-bar button i{
    color: white;
}

.search-bar button:hover{
    background-color: gray;
    color: white;
    box-shadow: 1px 2px 3px #0d3982;
}


/* search bar for smartphones */
@media screen and (max-width: 460px){
    .search-bar button, .search-bar input, .search-bar select{
        min-width: 300px;
        margin-top: 5px;
    }
}
