<!-- forum/thread_detail.html -->
{% extends "forum/index.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/index.css' %}">
    <link rel="stylesheet" href="{% static '../static/thread_detail.css' %}">
{% endblock style %}
{% block title %}{{thread.category.name}}{% endblock title %}

{% block left_main_content%}
                <section class="left">
                    <h2>{{cats}}</h2>
                    <!-- Display list of posts for the category -->
                    <div class="inner-left">
                        {% for post in category_posts %}
                            <div class="box">
                                <div class="details">
                                    <h3 class="post-title">{{ post.title }}</h3>
                                    <div class="sub-details-posts">
                                        <p><a href="{%url 'post_detail' post_id=post.id %}">{{ post.content }}</a></p>
                                        <div class="question-info">
                                            <span>{{ post.student.username }}</span>
                                            <span>{{ post.timestamp }}</span>
                                        </div>
                                        <div>
                                        {% if post.student == request.user %}
                                        <form method ="post" action="{% url 'delete_post' post.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-red" type="submit">Delete</button>
                                        </form>
                                        </div>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div  class="empty">
                                <p>No questions for this category yet!</p>
                            </div>
                        
                        {% endfor %}
                        
                    </div>
                </section>
{% endblock left_main_content %}
   