{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock style%}

{% block page_content %}
<main>
    
    <div class="container">
        <div class="row">
            {% block left_main_content%}
            <section class="left">
                <h2>Topics</h2>
                <div class="inner-left">
                    {% for thread in threads %}
                        <div class="box">
                            <div class="details">
                                <a href="{% url 'category' thread.category.name %}">{{ thread.category.name }}</a>
                                <h3><a href="{% url 'thread_detail' pk=thread.pk %}">{{ thread.title }}</a></h3>
                                <div class="sub-details">
                                    <span>{{ thread.student.username }}</span>
                                    <span>{{ thread.timestamp }}</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>{{ thread.post_set.count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% endblock left_main_content%}
            
            <section class="right">
                
                <div class="box first">
                    <h3>IşıkUnSt portal</h3>
                    <span>From a student to a student</span>
                    <p>Welcome to the IşıkUnSt portal. Here you can discuss any educational matter with other students and enhance your academic experience.
                    you can ask about your registration process, courses, and complex topics. Here you can Learn from your peers.     
                    </p>
                    <div class="stats">
                        <div>
                            <h4>{{total_posts}}</h4>
                            <span>posts</span>
                        </div>
                        <div>
                            <h4>{{total_members}}</h4>
                            <span>members</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="{%url 'register' %}" class="btn btn-blue"><i class="fa-solid fa-user-large"></i> Join your peers</a>
                    </div>
                </div>
                <div class="box top-threads">
                    <h3>our top topics</h3>
                    <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                    <div class="inner-box">
                        <h4><a href="#">When will the semester end?</a></h4>
                        <div class="stats">
                            <div class="stat comments">
                                <i class="fa-solid fa-comment"></i>
                                <span>2.5k</span>
                            </div>
                            <div class="stat views">
                                <i class="fa-regular fa-eye"></i>
                                <span>6.75k</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="box top-students">
                    <h3>Top students this month</h3>
                    <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                    <div class="inner-box">
                        <div class="img">
                            <img src="{% static '../static/media/mohanad-avatar.png' %}" alt="">
                        </div>
                        <div class="details">
                            <a href="#">Mohanad Altarah</a>
                            <span>15 replies</span>
                        </div>
                    </div>
                    
                </div>
                <div class="box recommended-categories">
                    <h3>Recommended Categories</h3>
                    <div class="inner-box">
                        <div class="img">
                            <img src="{% static '../static/media/computer-science.jpg' %}" alt="">
                        </div>
                        <div class="details">
                            <a href="#">Computer science</a>
                            <span>3k+ members</span>
                        </div>
                    </div>
                   
                </div>
            </section>

        </div>
    </div>
    
</main>
{% endblock page_content %}