<!-- forum/thread_detail.html -->
{% extends "forum/index.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/index.css' %}">
{% endblock style %}
{% block left_main_content%}
                <section class="left">
                    <div class="box">
                        <div class="category">Category: <a href="#">{{ thread.category }}</a></div>
                        <div class="details">
                            <h3>Topic: {{ thread.title }}</h3>
                            <div class="sub-details">
                                <span>By: {{ thread.student.username }}</span>
                                <span>Time Opened: {{ thread.timestamp }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Display list of posts for the thread -->
                    <div class="inner-left">
                        {% for post in posts %}
                            <div class="box">
                                <div class="details">
                                    <p>{{ post.content }}</p>
                                    <div class="sub-details">
                                        <span>By: {{ post.student.username }}</span>
                                        <span>Time created: {{ post.timestamp }}</span>
                                        {% if post.student == request.user %}
                                        <form method ="post" action="{% url 'delete_post' post.pk %}">
                                            {% csrf_token %}
                                            <button type="submit">Delete</button>
                                        </form>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>No questions yet!</p>
                        
                        {% endfor %}
                        
                    </div>
                </section>
{% endblock %}
