<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/header.css">
        <link rel="stylesheet" href="../static/footer.css">
        <script src="https://kit.fontawesome.com/afee173c1f.js" crossorigin="anonymous"></script>
        <title>IsikUnStHub</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <nav class="navigation hide" id="navigation">
                    <span class="close-icon" onclick="hideNav()"><i class="fa fa-close"></i></span>
                    <ul class="nav-list">
                        
                        <li class="nav-item">
                            <a href="threads.html">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a href="forum.html">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a href="">Home</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
                <div class="brand">IŞIKunSt-Hub</div>
            </div>
            <!-- Search bar -->
            <div class="search-bar">
                <div>
                   <select>
                        <option value="all">All content</option>
                        <option value="titles">Titles</option>
                        <option value="descriptions">Descriptions</option>
                   </select> 
                   <input type="text" name="q" placeholder="What are you looking for?">
                   <button class="button-blue" type="submit"><i class="fa fa-search"></i></button>
                </div>

            </div>
        </header>
        <div class="container">
            <div class="subforum">
                <div class="subforum-title">
                    <h1> Top Threads </h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa-solid fa-fire" style="color: #0d3982;"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h1><a href="">Thread title</a></h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium adipisci eaque laboriosam, consequuntur voluptatum consectetur sequi repellendus expedita ad animi. Eum esse earum laudantium doloremque. Quos odit deserunt consectetur.</p>
                    </div>
                    <div class="subforum-state subforum-column center">
                        <span>24 Posts | 15 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <a href="">Last Post</a> by <a href="">User</a>
                        <br>
                        on <small>22 Dec 2021</small>
                    </div>
                </div>   
            </div>
            <hr class="subforum-divider">
            <!-- more -->
            <div class="subforum">
                <div class="subforum-title">
                    <h1> Top Threads </h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa-solid fa-fire" style="color: #0d3982;"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h1><a href="">Thread title</a></h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium adipisci eaque laboriosam, consequuntur voluptatum consectetur sequi repellendus expedita ad animi. Eum esse earum laudantium doloremque. Quos odit deserunt consectetur.</p>
                    </div>
                    <div class="subforum-state subforum-column center">
                        <span>24 Posts | 15 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <a href="">Last Post</a> by <a href="">User</a>
                        <br>
                        on <small>22 Dec 2021</small>
                    </div>
                </div>
                <hr class="subforum-divider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa-solid fa-fire" style="color: #0d3982;"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h1><a href="">Thread title</a></h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium adipisci eaque laboriosam, consequuntur voluptatum consectetur sequi repellendus expedita ad animi. Eum esse earum laudantium doloremque. Quos odit deserunt consectetur.</p>
                    </div>
                    <div class="subforum-state subforum-column center">
                        <span>24 Posts | 15 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <a href="">Last Post</a> by <a href="">User</a>
                        <br>
                        on <small>22 Dec 2021</small>
                    </div>
                </div>   
                <hr class="subforum-divider">  
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa-solid fa-fire" style="color: #0d3982;"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h1><a href="">Thread title</a></h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium adipisci eaque laboriosam, consequuntur voluptatum consectetur sequi repellendus expedita ad animi. Eum esse earum laudantium doloremque. Quos odit deserunt consectetur.</p>
                    </div>
                    <div class="subforum-state subforum-column center">
                        <span>24 Posts | 15 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <a href="">Last Post</a> by <a href="">User</a>
                        <br>
                        on <small>22 Dec 2021</small>
                    </div>
                </div>
                <hr class="subforum-divider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa-solid fa-fire" style="color: #0d3982;"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h1><a href="">Thread title</a></h1>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium adipisci eaque laboriosam, consequuntur voluptatum consectetur sequi repellendus expedita ad animi. Eum esse earum laudantium doloremque. Quos odit deserunt consectetur.</p>
                    </div>
                    <div class="subforum-state subforum-column center">
                        <span>24 Posts | 15 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <a href="">Last Post</a> by <a href="">User</a>
                        <br>
                        on <small>22 Dec 2021</small>
                    </div>
                </div>     
                <hr class="subforum-divider"> 
            </div>
        </div>

        <!-- Forum footer -->
        <div class="forum-info">
            <div class="state">
                IŞIKunSt-Hub &nbsp;<i class="fa-solid fa-lightbulb" style="color: #0d3982;"></i>
            </div>
            <div>
                <span> <u>.....</u> Posts in <u>.....</u> Topics by <u>.....</u> Users</span><br>
                <span>Latests Thread: <strong><a href="">title</a></strong> on 00/00/0000 by <strong><a href="">User</a></strong></span>
            </div>
        </div>
        <div>
            <footer>
                <span>&copy; &nbsp; Işık University | All rights reserved </span>
            </footer>
        </div>
        
        
       
        <script src="../static/main.js"></script> 
    </body>
</html>