<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/afee173c1f.js" crossorigin="anonymous"></script>
    <title>IsikUnStHub</title>
    <title>Document</title>
</head>
<body>
    <header class="header" id="header">
        <div class="logo">
            <a href="index.html">
                <img src="../images/new-logo.png" alt="portal logo">
            </a>
        </div>
        <div class="row">
            <div class="container">
                <div class="header-content">
                    <div class="nav-search">
                        <div class="form-group">
                            <input type="text" placeholder="Search the portal">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="nav-group">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-comment"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-list-ul"></i></a></li>
                            <li class="join">
                                <a href="#">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Login / Register</span>
                                </a>
                            </li>
                            <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="left">
                    <h2>Top Threads</h2>
                    <div class="inner-left">
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="category"><a href="#"> MATH</a></div>
                            <div class="details">
                                <p>Discussions related to Mathematics</p>
                                <h3>93 shadow vt100c</h3>
                                <div class="sub-details">
                                    <span>mohanad_tara.</span>
                                    <span>2 h ago.</span>
                                    <span>mohaand_tara</span>
                                    <span>replied</span>
                                    <span>1 h ago</span>
                                    <div class="comment">
                                        <i class="fa-solid fa-comment"></i>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="right">
                    <div class="box first">
                        <h3>IşıkUnSt portal</h3>
                        <span>From a student to a student</span>
                        <p>Welcome to the IşıkUnSt portal. Here you can discuss any educational matter with other students and enhance your academic experience.
                        you can ask about your registration process, courses, and complex topics. Here you can Learn from your peers.     
                        </p>
                        <div class="stats">
                            <div>
                                <h4>200</h4>
                                <span>posts</span>
                            </div>
                            <div>
                                <h4>5000</h4>
                                <span>members</span>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-blue"><i class="fa-solid fa-user-large"></i> Join your peers</a>
                        </div>
                    </div>
                    <div class="box top-threads">
                        <h3>our top threads</h3>
                        <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box">
                            <h4><a href="#">When will the semester end?</a></h4>
                            <div class="stats">
                                <div class="stat comments">
                                    <i class="fa-solid fa-comment"></i>
                                    <span>2.5k</span>
                                </div>
                                <div class="stat views">
                                    <i class="fa-regular fa-eye"></i>
                                    <span>6.75k</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box top-students">
                        <h3>Top students this month</h3>
                        <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/mohanad-avatar.png" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Mohanad Altarah</a>
                                <span>15 replies</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/mohanad-avatar.png" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Mohanad Altarah</a>
                                <span>15 replies</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/mohanad-avatar.png" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Mohanad Altarah</a>
                                <span>15 replies</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/mohanad-avatar.png" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Mohanad Altarah</a>
                                <span>15 replies</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/mohanad-avatar.png" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Mohanad Altarah</a>
                                <span>15 replies</span>
                            </div>
                        </div>
                    </div>
                    <div class="box recommended-categories">
                        <h3>Recommended Categories</h3>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                        <div class="inner-box">
                            <div class="img">
                                <img src="../images/computer-science.jpg" alt="">
                            </div>
                            <div class="details">
                                <a href="#">Computer science</a>
                                <span>3k+ members</span>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">terms of use</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">help</a></li>
                <li><a href="#">business directory</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
            <p>This website was created to enhance the student's educational experience,
                not to help him/her violate any regulation.
            </p>
            <p></p>
            <p></p>
        </div>
    </footer>
</body>
</html>