<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <!-- <link rel="stylesheet" href="../static/header.css"> -->
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/signup.css">
    <script src="https://kit.fontawesome.com/afee173c1f.js" crossorigin="anonymous"></script>
    <title>Sign-up Page</title>
</head>
<body>
    <header class="header" id="header">
            <div class="logo">
                <a href="index.html">
                    <img src="../images/White_logo.png" alt="portal logo">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Ask a Question</a></li>
                </ul>
            </nav>
        <div class="navbar-group">
            <div class="search-bar">
                <input type="text" placeholder="Search for a question...">
                <button><i class="fa-solid fa-search"></i></button>
            </div>
            <div class="user-section">
                <a href="#">Login / Register</a>
            </div>
        </div>
    </header>
    <main>
        <section class="signup">
            <div class="container">
                <div class="row">
                    <form action="#">
                        <h2>Sign up</h2>
                        <div class="form-group">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Student ID">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password">
                        </div>
                        <a href="#" class="btn btn-blue">Sign Up</a>
                    </form>
                </div>
            </div>
        </section>
        <div class="faqs">
            <div class="container">
                <div class="row">
                    <h2>Frequently asked questions</h2>
                    <div class="faq">
                        <div class="question">
                            <h3>What is this portal about?</h3>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="answer">
                            <p>This portal is for you as a student to easily get any educational
                                information without distraction and time waste, and it is all by your peers.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <h3>What is this portal about?</h3>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="answer">
                            <p>This portal is for you as a student to easily get any educational
                                information without distraction and time waste, and it is all by your peers.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <h3>What is this portal about?</h3>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="answer">
                            <p>This portal is for you as a student to easily get any educational
                                information without distraction and time waste, and it is all by your peers.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <h3>What is this portal about?</h3>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="answer">
                            <p>This portal is for you as a student to easily get any educational
                                information without distraction and time waste, and it is all by your peers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="contacts">
            <div class="container">
                <div class="row">
                    <div class="contact">
                        <h3>Got any question about the portal in your mind?</h3>
                        <p>Get in touch with us, we'd love to help you out</p>
                    </div>
                    <a href="#" class="btn btn-blue">contact us</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">terms of use</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">help</a></li>
                <li><a href="#">business directory</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
            <p>This website was created to enhance the student's educational experience,
                not to help him/her violate any regulation.
            </p>
            <p></p>
            <p></p>
        </div>
    </footer>
    <script src="../static/index.js">
    </script>
</body>
</html>