{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock style %}1
    {% block title %}Login{% endblock title %}
{% block page_content %}
        <div class="login" id="login">
            <div class="top">
                <h2>Log in</h2>
            </div>
            <div class="row">
                <div class="content">
                    <div class="login-info">
                        <form action="{% url 'forum' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <a href="#">Forgot your password?</a>
                            <div class="remember">
                              <input type="checkbox" name="remember" value="1" checked />
                              <label for="remember">Stay logged in</label>
                            </div>
                            <button type="submit" class="btn btn-blue">Log in</button>
                          </form>
                          {% if messages%}
                          <div id="messages">
                            
                                {% for message in messages %}
                                    <p class="{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% else %}info{% endif %}">
                                    {{ message }}
                                    </p>
                                {% endfor %}
                          </div>
                          {% endif %}
                    </div>
                    <div class="bottom">
                        <h4>New to IşıkUnSt Portal?</h4>
                        <a href="{%url 'register' %}">Join your classmates</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock page_content%}