{% extends "base.html" %}

{% load static%}

{% block style%}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock style%}

{% block title %}Password Change - IsikUnStHub{% endblock title %}

{% block page_content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <form method="POST">
                    <h2>Password Reset Confirmation</h2><hr>
                    <p>Please enter your new password.</p>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-blue" type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}