{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    {% block style %}
    {% endblock style %}
    <script src="https://kit.fontawesome.com/afee173c1f.js" crossorigin="anonymous"></script>
    <title>{% block title %}IsikUnStHub{% endblock title %}</title>
</head>
<body>
    
    <header class="header" id="header">
        <div class="logo">
            <a href="index.html">
                <img src="{% static '../static/images/new-logo.png' %}" alt="portal logo">
            </a>
        </div>
        <div class="row">
            <div class="container">
                <div class="header-content">
                    <div class="nav-search">
                        <div class="form-group">
                            <input type="text" placeholder="Search the portal">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="nav-group">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-comment"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-list-ul"></i></a></li>
                            <li class="join">
                                <a href="{%url 'register'%}">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Login / Register</span>
                                </a>
                            </li>
                            <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block page_content %}
    {% endblock page_content %}
    <footer>
        <div class="container">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">our story</a></li>
                <li><a href="#">terms of use</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">help</a></li>
                <li><a href="#">business directory</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
            <p>This website was created to enhance the student's educational experience,
                not to help him/her violate any regulation.
            </p>
            <p></p>
            <p></p>
        </div>
    </footer>
    {% comment %} <div class="overlay">
        <div class="login" id="login">
            <div class="top">
                <h2>Log in</h2>
                <i class="fa-solid fa-xmark close"></i>
            </div>
            <div class="row">
                <div class="content">
                    <div class="login-info">
                        <form action="#">
                            <input type="text" name="studentid" id="studentid" placeholder="Student ID">
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Password">
                                <div>
                                    <i class="fa-regular fa-eye"></i>
                                </div>
                            </div>
                            <a href="#">Forgot your password?</a>
                            <div class="remember">
                                <input type="checkbox" name="remember" value="1"  checked />
                                <label for="remember">Stay logged in</label>
                            </div>
                            <button type="submit" class="btn btn-blue">Log in</button>
                        </form>
                    </div>
                    <div class="bottom">
                        <h4>New to IşıkUnSt Portal?</h4>
                        <a href="signup.html">Join your classmates</a>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <script src="{% static 'index.js' %}">
    </script>
</body>
</html>